<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyun.javaee.mapper.ResumeExperienceMapper">

    <!-- 根据简历ID删除工作经历 -->
    <delete id="deleteByResumeId">
        DELETE FROM resume_experience WHERE resume_id = #{resumeId}
    </delete>

    <!-- 根据简历ID查询工作经历 -->
    <select id="selectByResumeId" resultType="com.baiyun.javaee.entity.ResumeExperience">
        SELECT * FROM resume_experience WHERE resume_id = #{resumeId}
    </select>

    <!-- 批量插入工作经历 -->
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO resume_experience (resume_id, company_name, job_title, start_date, end_date, description)
        VALUES
        <foreach collection="list" item="exp" separator=",">
            (#{exp.resumeId}, #{exp.companyName}, #{exp.jobTitle}, #{exp.startDate}, #{exp.endDate}, #{exp.description})
        </foreach>
    </insert>

</mapper> 